<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="main_con">
    {{>header}}

    <p>Weather site</p>
    <form action="post">
        <input type="text" placeholder="location">
        <button>submit</button>
    </form>
    <p id="text-1"></p>
    <p id="text-2"></p>
    </div>
    {{>footer}}
</body>
<script src="js/index.js"></script>
</html> 